.search {
    position: relative;
    font-family: 'Open Sans', sans-serif;

    a {
        text-decoration: none;
    }

    &-options {
        padding: 10px;

        &__body {
            display: flex;
            justify-content: center;
        }

        &__toggle {
            position: absolute;
            top: 4px;
            right: -40px;
            cursor: pointer;
            color: #777;

            &:hover {
                color: #f44336;
            }
        }

        &__sort {
            font-size: 13px;
            display: flex;

            &-btn {
                padding-left: 5px;
                cursor: pointer;

                &:hover {
                    color: #f44336;
                }
            }
        }

        &__input {
            padding: 0 20px;
        }

    }

    &-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__input {
            flex-grow: 1;
        }

        &__btn {
            height: 40px;
            width: 100px;
            background-color: white;
            border-top: 1px solid #a9a9a9;
            border-right: 1px solid #a9a9a9;
            border-bottom: 1px solid #a9a9a9;
            box-sizing: border-box;
            text-align: center;
            line-height: 40px;
            cursor: pointer;

            &:hover {
                background: #f44336;
                color: #fff;
            }
        }
    }

    &-pages {
        padding: 10px 0;
        display: flex;
        justify-content: center;

        &__button {
            margin-right: 10px;
            cursor: pointer;
            background: #fff;
            border: 1px solid #a9a9a9;
            padding: 5px 10px;

            &:hover {
                background: rgba(0,0,0,.04);
            }

            &._active {
                font-weight: bold;
                background: #f44336;
                color: #fff;
            }
        }
    }

    &-body {
        padding: 10px;
    }

    &-list {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 20px;

        &__item {
            display: flex;
            align-items: flex-start;
            background-color: white;
            box-shadow: 0 0 13px rgba(0,0,0,.1);
            transition: transform .2s ease;

            &-content {
                padding: 15px;
            }

            &-title {
                font-weight: bold;
                font-size: 16px;
                padding-bottom: 10px;
                color: #333;

                &:hover {
                    color: #f44336;
                }
            }

            &-description {
                font-size: 14px;
                color: #777;
            }

            &:hover {
                transform: scale(1.05)
            }

            & + & {
                margin-top: 20px;
            }
        }
    }
}